<!DOCTYPE html>
<html lang="es" class="h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
  {{!-- Cargar Bootstrap como framework--}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  {{!-- Cargamos una hoja de estilos propia --}}
  <link rel="stylesheet" href="css/estilos.css" />
  {{!-- Para cargar el ícono de pestaña de la página --}}
  <link rel="icon" href="img/favicon.png">
  {{!--Cargar fontawesome--}}
  <script src="https://kit.fontawesome.com/732f53e469.js" crossorigin="anonymous"></script>

  {{!-- Título de la página --}}
  <title>Fashion Wear</title>

  {{!-- Este pequeño script servirá para indicar al header qué elemento del nav está activo --}}
  <script>
    $(document).ready(function () {
      $(".nav-item").bind("click", function (event) {
        event.preventDefault();
        var clickedItem = $(this);
        $(".nav-item").each(function () {
          $(this).removeClass("active");
        });
        clickedItem.addClass("active");
      });
    });
  </script>

</head>

<body class="d-flex flex-column h-100 ">
  {{!-- Barra de navegación de prueba fixed-top--}}

  {{!-- <div class="usuario-info bg-dark row">
     <p class="my-auto mr-auto">Hola! <a href="/iniciar_sesion">Inicia sesión</a> o <a href="/registro">Registrate</a></p>
     <div class="usuario-info-icon">
     <a href=""><i class="fas fa-heart"> Favorito</i></a>
     <a href=""><i class="fas fa-cart-plus">Carrito</i></a>
     </div>
 </div> --}}

  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-lightshadow shadow"
    style="border-bottom: #333333;   background: hsla(0, 0%, 98%, 0.899);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand mr-auto mt-2 mt-lg-0" href="/">
        <img src="/img/logo.png" width="240px" alt="Fashion Wear">
      </a>
      <ul class="navbar-nav text-center mr-3">
        <li class="nav-item">
          <a class="nav-link align-self-center mx-3" href="/">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link align-self-center mx-3" href="/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link align-self-center mx-3" href="#">Sobre nosotros</a>
        </li>

        {{!-- Si el usuario existe en la autenticación mostrará un drop down menu--}}
        {{#if user}}
        <div class="dropdown text-center align-self-center mx-3">
          <a class="dropdown-toggle dropT" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i> {{user.nombre}} {{user.apellido}}
          </a>

          {{!-- Opciones dentro del menu, Mi Perfil y Cerrar sesión con su respectiva ruta --}}
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item dropM" href="/perfil/mi_tienda/dashboard"><i
                class="fas fa-plus"></i> &nbsp; Tienda</a>
        {{!--    <a {{verificacion user.tipoUsuario}} class="dropdown-item dropM" href="/productos_admin"><i
                class="fas fa-tshirt"></i></i> &nbsp; Mis Productos</a> --}}

            <a class="dropdown-item dropM" href="/perfil/mi_tienda"><i class="far fa-user"></i> &nbsp; Mi Perfil</a>
            <a class="dropdown-item dropM" href="/cerrar_sesion"> &nbsp; &nbsp; &nbsp; Cerrar Sesión &nbsp; &nbsp;<i
                class="fas fa-sign-out-alt"></i> </a>
          </div>
        </div>


        <!--  <li class="nav-item">
              <a verificacion user.tipoUsuario class="nav-link align-self-center mx-3" href="/nuevo_producto" >Ingresar Producto</a>
            </li> -->


        {{!-- Si el usuario no está autenticado, mostrará los botones de iniciar sesión y registrarse --}}
        {{else}}
        <li class="nav-item">
          <a class="nav-link align-self-center mx-3" href="/iniciar_sesion">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link align-self-center mx-3" href="/registro">Regístrate</a>
        </li>
        {{/if}}



      </ul>

      <form class="form-inline my-2 my-lg-0 justify-content-center">
        <div class="row">
          <input class="form-control mr-sm-1" type="search" placeholder="Buscar..." aria-label="Search">
        </div>

        <div class="row mx-2">
          <button class="btn btn-outline-success my-2 my-sm-0 " type="submit"><i class="fas fa-search"></i></button>
        </div>

      </form>
    </div>
  </nav>
  </header>

  {{!-- Contenido principal --}}
  <main class="flex-shrink-0 " style="margin-top: 10%;">
    <div class="container " style="padding-top: 2%;">
      {{{body}}}
    </div>
  </main>

  {{!-- Pie de página --}}
  <footer class="footer mt-auto py-3 text-center">
    <div class="container">
      <span class="text-muted">© Fashion Wear - Invictus Development 2020</span>
    </div>
  </footer>



  {{!-- Scripts requeridos por Bootstrap --}}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>