{{>ourMessages}}

{{!-- {{#if productos}}
{{#each productos}}

<p>{{nombre}}</p>
<a href="/mi_carrito/eliminar/{{url}}"> Eliminar</a> --}}



{{#if productos}}
<div class="cart-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="main-heading">Mi Carrito</div>
                <div class="table-cart">
                    <table>
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        {{#each productos}}
                        <tbody>
                            <tr>
                                <td>
                                    <div class="display-flex align-center">
                                        <div class="img-product">
                                            <img src="{{imagen}}" alt="" class="mCS_img_loaded">
                                        </div>
                                        <div class="name-product">
                                            {{nombre}}
                                        </div>
                                        <div class="price">
                                            L.&nbsp;{{precio}}.00
                                        </div>
                                    </div>
                                </td>
                                <td class="product-count">
                                    <form action="#" class="count-inlineflex">
                                        <div id="qtyminus" class="qtyminus" onclick="bajarCantidad()">-</div>
                                        <input type="text" name="quantity" id="cantidad" min="1" value="1" class="qty">
                                        <div id="qtyplus" class="qtyplus" onclick="subirCantidad()">+</div>
                                    </form>
                                </td>
                                <td>
                                    <div class="total">
                                        L.&nbsp;{{precio}}.00
                                    </div>
                                </td>
                                <td>
                                    <a class="text-muted" href="/mi_carrito/eliminar/{{url}}"
                                        style="text-decoration: none;"><i class="fas fa-trash-alt "></i></a>
                                </td>
                            </tr>
                        </tbody>
                        {{/each}}
                    </table>
                </div>
                <!-- /.table-cart -->
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="cart-totals">
                    <h3>Totales</h3>
                    <form action="/pago/stripe/" method="post" accept-charset="utf-8">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Subtotal</td>
                                    <td class="subtotal">L. {{total}}.00</td>
                                </tr>
                                <tr>
                                    <td>Envío</td>
                                    <td class="free-shipping">Envío gratis</td>
                                </tr>
                                <tr class="total-row">
                                    <td>Total</td>
                                    <td class="price-total">L. {{total}}.00</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn-cart-totals">
                            <a href="/productos" class="update round-black-btn" title="">Seguir comprando</a>
                            {{!-- <form action="/pago/stripe/" method="POST"> --}}
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_51HAs8tLntSoRQvoLFq2hkbmQVcuFo1w7nf8Yr9MlEOi5dQYpKEHMG9a7nQ3RFA4a1Oi6KDLR3MmEOURLLNBzesk000LylTBhpe"
                                    data-name="FashionWear" data-image="/img/Logo_Oficial.png" data-locale="auto"
                                    data-amount="" data-currency="HNL">
                                    </script>
                                <script>
                                    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                                </script>                                
                                <input type="text" hidden value="{{total}}" name="total">
                                <input type="text" hidden value="Compra" name="producto">
                                <button type="submit" class="checkout round-black-btn">
                                    Comprar
                                </button>
                            {{!-- </form> --}}

                        </div>
                        <!-- /.btn-cart-totals -->
                    </form>
                    <!-- /form -->
                </div>
                <!-- /.cart-totals -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
</div>


{{else}}
<h2 class="mt-4">Aún no tienes productos en el carrito. <a href="/productos">Agrega uno</a></h2>
{{/if}}